/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ACTUAL CSS */
.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

img.track {
    border: 1px solid #8a8a8a;
}
/* INDEX PAGE CSS */
#title-main {
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 95px;
}

#main-title {
    text-align: center;
    margin:auto;
    margin-top: 20%;
}

#subtext {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

#button-div {
    position: absolute;
    bottom: 40px;
}

/* PLAYLIST CREATED PAGE CSS */
* {
    box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

.column1 {
    float: left;
    width: 40%;
    padding: 10px;
}

.column2 {
    float: left;
    width: 60%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* styling for form in playlist created page */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 40px;
    background: transparent;
    color: white;
}

.main {
    margin: 8%;
}

#title {
    margin-top: 80px;
}

h3 {
    color: white;
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

h1{
    color: white;
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: normal;
}

.text-input {
    color: black;
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: normal;
}
hr.solid {
    border-top: 0.5px solid #FFFFFF;
    margin-top: 20px;
}

#songs {
    margin-top: 40px;
}

p {
    color: white;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.normal-button {
    display: inline;
    padding: 0;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 80px;

    font-family: halyard-display, sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    /* text-align:center;
    align-items: center; */
    vertical-align: middle;
    display: inline;
    color: white;
}