@import "./reset.css";

/* @font-face {
    font-family: 'goshasansbold';
    src: url('fonts/Gosha Sans/GoshaSans-Bold.ttf') 
} */

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #8b42f9; 
}

.main-canvas{
    position: absolute !important;
    height: 100%;
}

h1 {
    color: white;
    font-size: 97px;
    font-family: halyard-display, sans-serif;
    position: relative;
    top: 20vh;
    text-align: center;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: halyard-display, sans-serif;
    font-weight: 200;
    position: relative;
    text-align: center;
    top: 26vh;
}

.subhead:hover {
    text-decoration: none;
}

.btn {
    border: 3.9px solid white;
    background-color: white;
    color: #8b42f9;
    padding: 14px 28px;
    font-size: 30px;
    font-family: Gosha Sans, sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 155px;
    width: 300px;
    height: 96px;   

    position: relative;
    top: 42vh;
    left: 49.2vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn:hover {
      background-color: #8b42f9;
      color: white;
  }

/* breaks for responsive rn */
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        top: 20vh;
    }

    .btn {
        top: 25vh;
    }
}