.palette {
    position: absolute;
    display: flex;
    top: 80vh;
    justify-content: space-evenly;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
}

.button {
    border-radius: 50%;
    border: 5px solid black;
    outline: 5px solid white;
    height: 72px;
    width: 72px;
}

.textbutton {
    color: white;
    text-decoration: none;
    font-family: Gosha Sans, sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 24px;
}

.textbutton:hover {
    text-decoration: underline;
}